<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

<header>
    <h1>Наша бригада</h1>
    <nav>
        <ul>
            <li><a href="/about/nazar">Про Назара</a></li>
            <li><a href="/about/illya">Про Іллю</a></li>
            <li><a href="/about/diana">Про Діану</a></li>
            <li><a href="/about/vanya">Про Ваню</a></li>
            <li><a href="/about/esfer">Про Есфера</a></li>
        </ul>
    </nav>
</header>

<main>
    <p>Ласкаво просимо на наш сайт!</p>
</main>

<footer>
    <p>Відвідайте <a href="https://nodejs.org" target="_blank">Node.js</a> для більше інформації.</p>
</footer>

</body>
</html>
