<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Бригада" %></title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

    <header>

    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>Відвідайте <a href="https://nodejs.org" target="_blank">Node.js</a> для більше інформації.</p>
    </footer>


</body>
</html>





//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content
