/* Основні стилі */
body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}

html, body {
  height: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Заголовки */
h1 {
  color: #734a4a;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Стилі для header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 225, 225, 0.8);
  width: 100%;
  padding: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin-left: 15vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #734a4a;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff6b6b;
  text-decoration: underline;
}

nav ul li a.active {
  color: #ff6b6b;
  pointer-events: none;
  font-weight: bold;
}

/* Основний контент */
main {
  flex: 1; /* Головна частина займає всю доступну висоту */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.5vw 0;
  background: linear-gradient(35deg, #ff9a9e, #fad0c4);
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Стилі для зображення */

a {
  -webkit-user-drag: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

img.photo {
  margin: 2vw;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Стилі для футера */
footer {
  background: #c16363;
  color: white;
  padding: 1.8vw;

}

footer a {
  color: #ffa7ab;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/* Адаптивність */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  nav ul {
    gap: 10vw;
  }

  p {
    font-size: 1rem;
  }
}

/* Зобоаження в основній частині */

.team-gallery {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #333;
  transition: transform 0.3s, border-color 0.3s;
}

.team-member img:hover {
  transform: scale(1.07);
  border-color: white;
}

.team-member p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #734a4a;
}

/*Окремі стилі для EJS*/
.about {
  padding: 2vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.information {
  display: flex;
  flex-direction: column;
}

.name {
  letter-spacing: normal;
  text-transform: none;
}

.description {
  color: #734a4a;
}

.arrow a {
  font-size: 24px;
  text-decoration: none;
  color: #ffff;
  padding: 10px;
  margin: 0 3vw;
  border-radius: 50%;
  background-color: #c16363;;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s;
}

.arrow a:hover {
  background-color: rgba(115,74,74,0.8);
}

.arrow i {
  font-size: 20px;
}



