/* Змінні */

:root {
    --white-color: #ffffff;

    --main-font-color: #734a4a;
    --main-background-color: #ff9a9e;
    --secondary-background-color: #fad0c4;
    --main-border-color: #333333;
    
    --shadow-color-10: #0000001a;
    --shadow-color-20: #00000033;

    --link-hover-color: #ff6b6b;

    --header-background-color: #ffe1e1cc;
    --header-font-color: #734a4acc;

    --footer-background-color: #c16363;
    --footer-font-color: #ffa7ab;

    --scrollbar-thumb-color: #d44d2d;
    --scrollbar-track-color: #d48b7a;
}

/* Основні стилі */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', Arial, sans-serif;
}

/* Посилання */

a {
    text-decoration: none;
    color: unset;
    -webkit-user-drag: none;
}

/* Заголовки */

h1 {
    font-size: 2.5rem;
    color: var(--main-font-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.7rem;
    }
}

/* Стилі для header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background-color);
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0 4px 6px var(--shadow-color-10);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 767px) {
    nav ul {
        column-gap: 10vw;
        row-gap: 10px;
        flex-wrap: wrap;
    }
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-font-color);
    font-weight: 700;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

nav ul li a.active {
    pointer-events: none;
    font-weight: 700;
}

/* Основний контент */
main {
    /* Головна частина займає всю доступну висоту */
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    background: linear-gradient(35deg, var(--main-background-color), var(--secondary-background-color));
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 1rem;
    }
}

/* Стилі для зображення */

img {
    user-select: none;
    -webkit-user-drag: none;
}

img.photo {
    margin: 2vw;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--white-color);
    box-shadow: 0 5px 15px var(--shadow-color-20);
}

@media screen and (max-width: 767px) {
    img.photo {
        width: 150px;
        height: 150px;
    }
}

/* Стилі для футера */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: var(--footer-background-color);
    color: var(--white-color);
}

footer a {
    font-weight: 700;
    color: var(--footer-font-color);
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: var(--white-color);
    text-decoration: underline;
}

/* Зображення в основній частині */

.team-gallery {
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.team-member {    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.team-name {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-font-color);
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid var(--main-border-color);
    transition: all 0.3s;
}

.team-member:hover img {
    transform: scale(1.1);
    border-color: var(--white-color);
}

@media screen and (max-width: 767px) {
    .team-member img {
        width: 100px;
        height: 100px;
    }
}

/* Окремі стилі для EJS */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    display: flex;
    align-items: center;
    gap: 3vw;
}

@media screen and (max-width: 767px) {
    .person {
        flex-direction: column;
        gap: 3vh;
    }
}

.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.name {
    letter-spacing: normal;
    text-transform: none;
}

.description {
    color: var(--main-font-color);
    width: 30vw;
    max-height: 30vh;
    padding-right: 10px;
    overflow-y: auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .description {
        width: 60vw;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 10px;
  }

.arrow a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0 3vw;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--footer-background-color);
    transition: all 0.3s;
}

.arrow a:hover {
    filter: brightness(0.8);
}

.arrow i {
    font-size: 20px;
}